extends layout 

block main 
  form(action="/users/signin" method="post")
    dl
      dt
        label(for="username") Username:
      dd
        input(type="text"
              name="username"
              placeholder="username"
              value=username)
      dt 
        label(for="password")
      dd
        input(type="password"
              name="password"
              placeholder="password")

    fieldset.actions
      input(type="submit" value="Sign In")

block signIn 
//- This^ overwrites the layout code for block signIn
  So, this page's signIn block will be empty.